.ant-layout-sider{
    flex: none !important;
    width: 20% !important;
    max-width: none !important;
}
.ant-layout-content{
    width: 75%;
}
.ant-layout-has-sider{
    background-color: #f0f2f5 !important    ;
}
#menu_support{
    padding: 0 1rem 0 2rem !important;
}