.main_content {
  width: 75%;
  margin: 0 auto;
}
#chart-frame {
  background-color: white !important;
  border: 1px solid #d2d3d4;
  padding: 1.5rem;
  position: relative;
}
.sum {
  display: flex;
  align-items: center;
}
.ant-col-16 {
  height: 569px;
}
.ant-col-8 {
  padding-left: 1rem;
  box-sizing: border-box;
}
.card {
  background: linear-gradient(180deg, #0085ff 0%, rgba(0, 133, 255, 0.81) 100%);
  border-radius: 3px;
  color: white;
  padding: 1.5rem;
  height: 569px;
}
.card_title > p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 1.3rem;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}
.card_title {
  border-bottom: 1px dashed white;
}
#value {
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 3rem;
}
.card_content {
  padding: 1rem 0;
}
.card_footer,
.chart-frame_footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  height: 3rem;
  align-items: center;
  padding-left: 1.8rem;
}
.card_footer > a {
  color: white;
}
.line_chart {
  height: 80% !important;
}
.chart_title_value {
  font-size: 1.5rem;
  color: black;
}
.ant-select-selection--single {
  position: relative;
  height: 32px;
  cursor: pointer;
  border: 0;
  outline: none;
  color: #0085ff;
  background: none;
}
.ant-select-selection--single
  > .ant-select-arrow
  > .ant-select-arrow-icon
  > svg {
  color: #0085ff;
}
.card_footer > .ant-select > .ant-select-selection--single,
.card_footer
  > .ant-select
  > .ant-select-selection--single
  > .ant-select-arrow
  > .ant-select-arrow-icon
  > svg {
  color: white;
}
.ant-select-focused {
  outline: none !important;
  color: red;
}
.modal_datepicker {
  position: absolute;
  bottom: 19rem;
  left: 0;
  z-index: 9999;
}
.ant-calendar-picker-container {
  top: 390px !important;
}
.ant-calendar-picker-container > .ant-calendar {
  width: 365px !important;
}
.ant-calendar-today-btn {
  display: none !important;
}
.ant-calendar-footer-extra {
  text-align: right !important;
}
.input_date_chart>input{
  padding-right:.75rem !important;
}
.input_date_chart > div>.ant-calendar-picker-input {
  border-radius: 0 !important;
}
.datepicker_footer{
  display: flex;
  justify-content: space-between;
}