body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Roboto";
}
.header1 {
  display: flex;
  justify-content: space-between;
  background-color: white;
  align-items: center;
}
.ant-layout-header {
  background-color: white !important;
  line-height: 1rem !important;
}
.user_logout {
}
.header2_content {
  display: flex;
  flex-direction: column;
}
#logo_title {
  display: flex;
  align-items: flex-start;
}
/* style={{ background: "#f0f2f5", padding: 0 ,width:"85%",textAlign:'left',margin:'0 auto'}} */
.header2 {
  background-color: #f0f2f5 !important;
  width: 75%;
  margin: 1rem auto;
  text-align: left;
  display: flex;
  align-items: flex-end;
  padding: 1rem;
}
.header2_title {
  font-weight: 900;
  font-size: 30px;
  line-height: 35px;
  color: #34489e;
  font-family: "Roboto";
  font-style: normal;
  padding-left: .5rem;
}
#header2_title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color:black;
  padding-top: .5rem;
}
.ant-table-tbody {
  background-color: white;
}
.ant-input-group-wrapper {
  width: 30% !important;
}
.btn-check {
  padding: 0.5rem;
  display: flex;
  justify-content: flex-start;
}
.ant-table-pagination.ant-pagination {
  float: none !important;
  margin: 1rem 0 !important;
  text-align: center !important;
}
.ant-pagination {
  margin: 1rem !important;
  text-align: center;
}
.listDetail {
  background-color: white;
}
.ant-descriptions-title {
  margin: 0;
  background-color: #fafafa;
  padding: 1rem;
}
.submit-mes {
  height: 1.5rem;
  color: rgb(219, 121, 121);
}
.ant-form-item {
  margin: 0 !important;
}
@media only screen and (max-width: 600px) {
  .btn-check {
    flex-direction: column;
  }
  .btn-checktype {
    width: 35% !important;
  }
  .ant-input-group-wrapper {
    width: 35% !important;
  }
}
